nav ul {
    /*compound selector*/
    list-style-type: none;
    padding: 0px; /*got rid of left space*/
    margin: 0px
}

nav li {
    border:1px solid black;
    width: 150px;
    padding: 0px; /*makes list buttons bigger. rn its formatted like a chart tho*/
    margin: 10px; /*will give the space between the list containers. no longer chart-like*/
    background-color: red; /*fills in entire border container*/
    width: 200px;
    /*cannot style text color bc link styles override*/
    display: inline-block;/*best of both worlds. put this here to move list items rather than links/text themselves*/

}

nav li a {
    /*compound selector for just the links inside nav. can just say nav a too*/
    color: white;
    padding: 10px;
    text-decoration: none; /*remove underline*/
    display: block; /*link inside expands to be as big as its parent*/
     /*display: inline; /*no longer receives set width, only using as much space as its content..*/
}

nav li a:hover {
    background-color: maroon; /*only fills to the text size bc padding will push in the content gap*/
    /*zero out padding in nav li and then fix with padding with the link, nav li a selector. bg color will expand with padding. need block as well*/
}