body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #624630;
    background-color: #ffddfb;
     /*maybe put in a cute pattern or art bg!*/
}

#wrapper {
    background-color: white;
    width: 1200px;
    margin: 1em auto;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
   /* grid-column-gap: 24px; */
}

header {
    border-bottom: 5px solid #99c2ff;
    grid-column: span 12;
}

h1 {
    font-family: "olivita", sans-serif;
}

ul{
    list-style-type: none;
    margin: 20px 10px;
    padding: 0px;
}

nav li {
    display: inline-block;
    background-color: #99c2ff;
    width: 200px;
    margin: 0px 20px;
}

nav a {
    display: block;
    padding: 5px;
    color:#fff08e;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    font-size: 18px;
    text-transform: uppercase;
    transition: all 0.2s;
}

nav a:hover{
    color:#624630;
}

#HomeLi{
    margin-left: 355px;
    background-color: white;
    padding: 0px;
    width: auto;
}

#HomeLi a{
    color:#99c2ff;
    font-size: 24px;
    transition: all .5s;
}

#HomeLi a:hover{
    color: #624630;
    font-size: 26px;
}

main a {
    color: #f496d3;
    transition: all 0.2s;
}

main a:hover {
    color:#624630;
}


footer{
    background-color: #99c2ff;
    grid-column: span 12;
}

footer li{
    display: inline-block;
}

footer ul{
    /*margin-left: 400px;*/
    text-align: center;
}

footer a{
    display: inline-block;
    color: #fff08e;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
}

footer a:hover{
    color:#624630;
}

/* end of shared elements*/

main {
    grid-column: span 12;
}

audio {
    margin-left: 450px;
}

.AboutMeDiv {
    width: 600px;
    margin: 50px 0px 110px 300px;
    padding: 10px;
    background-color:#fff08e;
    border: 2px dotted #624630;
}


#me {
    width: 180px;
    margin: 10px 20px;
    float: left;
    border-radius: 100px;
}

.more {
    font-size: 20px;
    margin: 30px;
    font-family: "olivita", sans-serif;
    font-style: italic;
    display: inline-block;
}

.ArtDiv {
    margin-bottom: 20px;
}

.ArtDiv img {
    width: 200px;
    height: 300px;
    margin: 0px 10px 0px 25px;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.5s;
}

.ArtDiv img:hover {
    opacity: 0.5;
    box-shadow: 10px 5px 0px #624630; /* x, y, blur, color */
}

.WebDiv {
    margin-bottom: 20px;
}


.WebDiv img {
    width: 478px;
    margin: 0px 10px 0px 25px;
    border-radius: 5px;
    transition:all 0.5s;
}

.WebDiv img:hover {
    opacity: 0.5;
    box-shadow: 10px 5px 0px #624630;
}

/* Art Page */

.artMain{
    grid-column: span 10;
}

.artMain h1{
    text-align: center;
    padding: 15px;
}

#artAside h2{
    font-family: "olivita", sans-serif;
    font-style: italic;
}

.artMain section img{
    display: inline-block;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 15px;
}

aside {
    grid-column: span 2;
    background-color: #fff08e;
    opacity: 5px;
    padding: 1em;
    margin: 1em;
}

